/* Base Styles */
:root {
    --light: #fff;
    --pink: rgb(174, 13, 196);
}

body {
    margin: 0;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(30, 36, 36);
}

header p {
    color: var(--light);
    padding-bottom: 10px;
    padding-left: 60px;
    width: calc(100% - 120px);
    height: auto;
    text-align: center;
}

h1 {
    color: var(--pink);
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    color: var(--pink);
}

/* Layout Styles */
.wire-frame-boxes {
        margin-top: 2%;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(12. 1fr);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

.code-card {
    margin: 10px;
    width: 350px;
    height: auto;
    border: 2px dotted #fff;
}

/* Module Styles */
.card-header {
    padding: 0 0 0 7px;
    margin: 0;
    position: relative;
    margin-top: -20px;
    margin-left: 13.5px;
    max-width: 90%;
    border: 2px solid #fff;
    color: var(--pink);
    background-color: rgb(30, 36, 36);
}

pre {
    margin: 10px;
    padding: 5px;
    color: var(--light);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3%;
    -webkit-user-select: all; user-select:all;
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
    box-shadow: inset 0px 0px 8px rgab(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.card-content {
    padding: 0px 10px 0px 10px;
    color: var(--pink);
}

/* State Styles */
::selection {
    background-color: #e866ec;
    color: var(--light);
}

.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px rgab(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .wire-frame-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .code-card {
        width: 70%;
        margin: 30px;
    }
}


